

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}


.wrapper {
    width: 100%;
    height: 500px;
    /* background: lightgreen; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 25px;
    padding: 0px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: width, height;
    text-align: center;
    flex: 1
  }

  
  .item {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5px;
    will-change: transform, opacity;
  }

  